# SERVER
# dependencies
/server/node_modules
/server/.pnp
/server/.pnp.js

# testing
/server/coverage

# production
/server/build

# misc
/server/.DS_Store
/server/.env
/server/.example.env
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

#WEB
# dependencies
/web/node_modules
/web/.pnp
/web.pnp.js

# testing
/web/coverage

# production
/web/build

# misc
/web/.DS_Store
/web/.env
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local

/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*


